page-tips {
    .text{
        bottom: 8px;
    width: 30px;
    height:40px;
    padding: 0 0 0 15px;
    }
    .textc{
        display: flex;
        flex-direction: column;
    background-color: white;
    }.item{
        margin-bottom: 1vh;
    }
    button{
        bottom: -15px;
    }
    .list2{
           
        // padding:5px;
        margin-bottom: 20px;
    }
    .datew{
        font-weight: 30;
        font-size: 12px;
        float: right; 
        margin-bottom: 1px;
    }
    .listline{
        font-size: 3.1vh;
        // color: yellow;
        // font-family: 'Times New Roman', Times, serif;
        padding: 0 0 0 0;
    }
    // footer{
        
    // }
        .list2{
           
            // padding:5px;
            margin-bottom: 20px;
        }
    }