page-tips {
    .text{
    bottom: 8px;
    width: 30px;
    height:40px; 
    border: 2px solid #FFC107;
    border-radius: 10px;
    padding-left: 8px;
    padding-top: 2px;
    font-size: 13px;
    
    }
    .logout{
        // margin-top: -7px;
    }
.descr{
    size: 12px;
}

.segbtn.segment-button.segment-activated{
    border-radius: 0 !important;
    background: $primary-color !important;
    color: $primary-color-text !important;
    border-bottom: 2px solid $accent-color !important;
}
  .carding{
   margin-top: 1px;
   margin-bottom: -20px;
   box-shadow: 0 0 10px grey;
   border-radius: 5px;

  }  
    .butts{
        height: 50px;
        width: 50px;
    }
    .textc{
        display: flex;
        flex-direction: column;
    background-color: white;
    }.item{
        margin-bottom: 1vh;
    }
    button{

        bottom: -8px;
    }
    .list2{

        margin-bottom: 20px;
    }
    .datew{
        font-weight: 30;
        font-size: 12px;
        float: right; 
        margin-bottom: 1px;
    }
    .listline{
        font-size: 2.5vh;
        padding: 0 0 0 0;
        // background: red;
     color: #000;
     margin-bottom: 4px;
     .listline-active{
        background: #FFC107;
        color:#fff
    }
    }
    
    .text2{
        margin: 2px 10px 10px 5px ;
        size: 3em;
    }
    .ava{
        border-radius: 40px;
        height: 10px;
        width: 25px;
    }
    .control{
        margin-bottom: -2px;
    }
    // .segmt{
       
    // }

    .tipsdrop{
        animation: scaledown .3s ease;
        backface-visibility: hidden;
    }

    .segbtn{
        border-top: none !important;
        border-right: none !important;
        border-left: none !important;
        border-radius: none !important;
        color: $primary-color !important;
        border-bottom: 2px solid $primary-color-light !important;
        background: $primary-color-text !important;
        box-shadow: 0 -1rem -2rem rgba($primary-text-color, .5) !important;
    }     
    .segbtn.segment-button.segment-activated{
        border-radius: 0 !important;
        background: $primary-color !important;
        color: $primary-color-text !important;
        border-bottom: 2px solid $accent-color !important;
    }
}
