page-tips {
<<<<<<< HEAD
//     .list2{
       
//         // padding:5px;
//         margin-bottom: 20px;
//     }

    .butts{
border-radius: 50px;
height: 50px;
// top: 40px;
width: 50px;
    }
.text{
    bottom: 8px;
=======
    .text{
        bottom: 8px;
>>>>>>> 3252ef8273727bbd2b91d78455fd4b06d2c4c0f8
    width: 30px;
    height:40px;
    padding: 0 0 0 15px;
    }
    .textc{
        display: flex;
        flex-direction: column;
    background-color: white;
    }.item{
        margin-bottom: 1vh;
    }
    button{
<<<<<<< HEAD
        bottom: -8px;
=======
        bottom: -15px;
>>>>>>> 3252ef8273727bbd2b91d78455fd4b06d2c4c0f8
    }
    .list2{
           
        // padding:5px;
        margin-bottom: 20px;
    }
    .datew{
        font-weight: 30;
        font-size: 12px;
        float: right; 
        margin-bottom: 1px;
    }
    .listline{
        font-size: 3.1vh;
<<<<<<< HEAD
        padding: 0 0 0 0;
    }
}
=======
        // color: yellow;
        // font-family: 'Times New Roman', Times, serif;
        padding: 0 0 0 0;
    }
    // footer{
        
    // }
        .list2{
           
            // padding:5px;
            margin-bottom: 20px;
        }
    }
>>>>>>> 3252ef8273727bbd2b91d78455fd4b06d2c4c0f8
