<ion-header>

  <ion-navbar color="primary">
    <ion-title align="center">FUEL FRIENDLY TIPS</ion-title>
  </ion-navbar>

</ion-header>
<br>

<ion-content>
<button ion-button full block class="accordion">Petrol</button>    
  <ion-list class="title">
  <ion-item *ngFor="let d of petrol; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
    <div maxLength="30" >
    <h3  class="listline">
      <b>{{d.title}}</b>
      <ion-icon color="dark" item-right [name]="isGroupShown(i) ? 'md-arrow-dropdown-circle' : 'md-arrow-dropright-circle'"></ion-icon>
    </h3>
</div>
    <div *ngIf="isGroupShown(i)" align="justify">{{d.description}}</div>
  </ion-item>
</ion-list>

<button ion-button full block class="accordion">Gas</button>
<ion-list class="title">
    <ion-item *ngFor="let d of gas; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
      <div maxLength="30">
      <h3 >
        <b>{{d.title}}</b>
        <ion-icon color="dark" item-right [name]="isGroupShown(i) ? 'md-arrow-dropdown-circle' : 'md-arrow-dropright-circle'"></ion-icon>
      </h3>
  </div>
      <div *ngIf="isGroupShown(i)" align="justify">{{d.description}}</div>
    </ion-item>
  </ion-list>

  <button ion-button full block class="accordion">Diesel</button>
  <ion-list class="title">
      <ion-item *ngFor="let d of petrol; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
        <div maxLength="30">
        <h3 >
          <b>{{d.title}}</b>
          <ion-icon color="dark" item-right [name]="isGroupShown(i) ? 'md-arrow-dropdown-circle' : 'md-arrow-dropright-circle'"></ion-icon>
        </h3>
    </div>
        <div *ngIf="isGroupShown(i)" align="justify">{{d.description}}</div>
      </ion-item>
    </ion-list>


</ion-content>

<!-- <ion-footer>
  
  <div class="textc">
<ion-row>
<ion-textarea block text-wrap maxLength="80" placeholder="Add a tip" class="text"></ion-textarea>
<button ion-button color="primary" class="butts">Add Tip</button>
</ion-row>
</div>

</ion-footer> -->