<ion-header>
    <ion-navbar color="primary">
     <ion-title align="center">FUEL TIPS</ion-title>
    </ion-navbar>
   </ion-header>
   <br>
   <ion-content>
     <div class="segmt">
       <ion-segment color class="segment-md" [(ngModel)]="action">
        <ion-segment-button class="segbutt" value="tips">
         TIPS
        </ion-segment-button>
        <ion-segment-button class="ion-segment-button" value="addtip">
         USERS TIPS
        </ion-segment-button>
       </ion-segment>
      </div>
     
      <div [ngSwitch]="action">
        <div class="tipscontainer" *ngSwitchCase="'tips'">
   <button ion-button color="secondary" full block class="accordion">Petrol</button>  
    <!-- <ion-label align="center"><b>Petrol:</b></ion-label> -->
   <ion-list class="title">
    <ion-item *ngFor="let d of petrol; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
     <div maxLength="30" >
     <h3 class="listline">
      <b>{{d.title}}</b>
      <ion-icon color="dark" item-right [name]="isGroupShown(i) ? 'md-arrow-dropdown-circle' : 'md-arrow-dropright-circle'"></ion-icon>
     </h3>
   </div>
     <div *ngIf="isGroupShown(i)" align="justify">{{d.description}}</div>
    </ion-item>
   </ion-list>
   <button ion-button color="secondary" full block class="accordion">Gas</button>
   <ion-list class="title">
     <ion-item *ngFor="let d of gas; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
      <div maxLength="30">
      <h3 class="listline">
       <b>{{d.title}}</b>
       <ion-icon color="dark" item-right [name]="isGroupShown(i) ? 'md-arrow-dropdown-circle' : 'md-arrow-dropright-circle'"></ion-icon>
      </h3>
    </div>
      <div *ngIf="isGroupShown(i)" align="justify">{{d.description}}</div>
     </ion-item>
    </ion-list>
    <button ion-button color="secondary" full block class="accordion">Diesel</button>
    <ion-list class="title">
      <ion-item *ngFor="let d of petrol; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
       <div maxLength="30">
       <h3 class="listline">
        <b>{{d.title}}</b>
        <ion-icon color="dark" item-right [name]="isGroupShown(i) ? 'md-arrow-dropdown-circle' : 'md-arrow-dropright-circle'"></ion-icon>
       </h3>
     </div>
       <div *ngIf="isGroupShown(i)" align="justify">{{d.description}}</div>
      </ion-item>
     </ion-list>
   </div>
   </div>
   <div [ngSwitch]="action">
   <div class="addtipseg" *ngSwitchCase="'addtip'">
     <div>
       <ion-list *ngFor="let i of comments3">
      
      <h2 capitalize align="left" class="listline" ><b>{{i.name}}</b></h2>   
        
      <div>
          <div text-wrap class="text2" >
            <p padding>{{i.comment}}</p>
           
           </div> 
            <span class="datew" align="right">{{i.date}}</span>   
           </div>
        
       </ion-list> 
      </div>
    
   </div>
   </div>
   </ion-content>
   <ion-footer>
    <div [ngSwitch]="action">
     <div class="addtipseg" *ngSwitchCase="'addtip'">
      
     <div class="textc">
    <ion-row>
    <ion-textarea block text-wrap maxLength="80" [(ngModel)]="newmessage" placeholder="Add a tip" class="text"></ion-textarea>
    <button  ion-button color="primary" (click)="placeComment()" class="butts" icon-only><ion-icon name="md-send"></ion-icon></button>
    </ion-row>
    </div>
    </div>
    </div>
    </ion-footer>