page-stats {
.bar{
    background-color: $primary-color;
    height: 35rem;
    // margin-top: -10px;
    bottom: 0;
    box-shadow: 0 1rem 2rem rgba($primary-text-color, .5);


}
.list{
    margin-top: 45px;
    .card{
         display: flex;
         width: 95vw;
         margin: 0 auto;
         margin-bottom: 15px;
         box-shadow:inset 2px 13px 20px 0 rgba(black,0.5);
        //  box-shadow: 2px 10px 13px rgba(black,0.5);
         border-radius: 10px;
         flex-flow: row;
        background-color:$primary-color-dark;
        height: 100px;
        justify-content: space-between;
        .cardcontent{
            text-align: center;
            // margin: 0 20px 0 20px;
            font-size: 3.2rem;
            .fuel{
                font-size: 3.2rem; 
                text-shadow: 5px 12px 12px rgba(black,0.8);
                color: whitesmoke; 
            }
            p{
                font-size: .5em;
                font-weight: bold;
            }
        }
        .rate{
            position: relative;
            // background-color: green;
            text-align: center;
            height: 100px;
            width: 80px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            p{
                // position: absolute;
                color: white;
                // padding:-15px;

            }
            .icon2{
                // font-size: 1rem;
              
                  height: 40px;
                width: 40px;
                margin: 20px 0 -5px 0;

            }
        }

        .image{
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            text-align: center;
            // background-color: yellow;
            height: 100px;
            width: 80px;
            i{
                // height: 20px;
                // width: 20px;
                color: #FFC107;
                font-size: 4rem;
                background-color: transparent;
                // display: block;
                // padding: 5px 0 5px 0;
                border-radius: 10px;
                border: none;
                box-shadow: 1px 8px 10px rgba(black,0.7);
                margin: 30px 0 0 10px;
            }
            .icon1{
                   width: 45px;
                   height: 45px;
                   border-radius: 90px;
                   box-shadow: 2px 12px 15px black;
                   background-color: transparent;
                //    font-size: 1rem;
                   margin: 30px 0 0 5px;
            }
        }
       
    }
}

.graph{
    // background-image: url()
    margin-top: 20px;
    // background-image: url('../../assets/5214824_05-eng.jpg');
    // height: 100px;
    // padding: -10px 0 -10px 0;
    // width: 100vw;
    img{
        height:37.5vh;
        width: 100vw;
    }
}
.combo{
   display: flex;
   flex-flow: row nowrap;
   // background: red;
   // height: 10rem;
   justify-content: space-between;
//    margin-top: 10px;
   img{
       height: 40px;
       width: 40px;
       border-radius: 30px;
       margin:15px 0 0 10px ;
       box-shadow:  0 10px 15px rgba(black, 0.5);
   }
   .logo{
       border-radius: 20px;
       width: 80%;text-align: center;
       // background-color: red;
       // margin-bottom: 70px;
       margin-right: 30px;
       .text{
           margin-top: 8px;
           color: $accent-color;
           text-shadow: 0 10px 15px rgba(black, 0.5); 
           font-size: 3.4rem;
        //    font-family: 'Lobster', cursive;

       }
   }
}
}
