page-stats {
.bar{
    background-color: $primary-color;
    height: 35rem;
    // margin-top: -10px;
    bottom: 0;
    box-shadow: 0 1rem 2rem rgba($primary-text-color, .5);


}
.list{
    margin-top: 45px;
    .card{
         display: flex;
         width: 95vw;
         margin: 0 auto;
         margin-bottom: 15px;
         box-shadow: 0 10px 16px rgba(black,0.5);
         border-radius: 10px;
         flex-flow: row;
        background-color: $divider-color;
        height: 100px;
        justify-content: space-between;
        .cardcontent{
            text-align: center;
            margin: 0 20px 0 20px;
            font-size: 3.2rem;
            .fuel{
                font-size: 3.2rem;  
            }
        }
        .rate{
            position: relative;
            background-color: black;
            height: 100px;
            width: 80px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            .icon2{
                font-size: .4rem;
            }
        }

        .image{
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;

            background-color: whitesmoke;
            height: 100px;
            width: 100px;
            .icon1{
                // height: 20px;
                // width: 20px;
                font-size: 2rem;
            }
        }
       
    }
}

.graph{
    // background-image: url()
    margin-top: 20px;
    // background-image: url('../../assets/5214824_05-eng.jpg');
    // height: 100px;
    // padding: -10px 0 -10px 0;
    // width: 100vw;
    img{
        height:37.5vh;
        width: 100vw;
    }
}
.combo{
   display: flex;
   flex-flow: row nowrap;
   // background: red;
   // height: 10rem;
   justify-content: space-between;
//    margin-top: 10px;
   img{
       height: 40px;
       width: 40px;
       border-radius: 30px;
       margin:15px 0 0 10px ;
       box-shadow:  0 10px 15px rgba(black, 0.5);
   }
   .logo{
       border-radius: 20px;
       width: 80%;text-align: center;
       // background-color: red;
       // margin-bottom: 70px;
       margin-right: 30px;
       .text{
           margin-top: 8px;
           color: $accent-color;
           text-shadow: 0 10px 15px rgba(black, 0.5); 
           font-size: 3.4rem;
        //    font-family: 'Lobster', cursive;

       }
   }
}
}
