page-stats {
.bar{
    background-color: $primary-color;
    height: 8rem;
    // margin-top: -10px;
    bottom: 0;
    box-shadow: 0 1rem 2rem rgba($primary-text-color, .5);
.dash{
    // background-color:white;
    height: 180px;
    text-align: center;
    // box-shadow: inset 0 0 5px rgba(rgb(0, 0, 0), 0.5);
    // box-shadow: 0 1rem 2rem rgba($primary-text-color, .5);    width: 90%;
    // border-radius: 10px;
    margin: 5px auto ;
    img{
        height: 200px;
        background: none;

    // text-align: center;
    // box-shadow: inset 0 0 5px rgba(rgb(0, 0, 0), 0.5);
    box-shadow: 0 1rem 2rem rgba($primary-text-color, .5);    width: 90%;
    width: 200px;
    border-radius: 110px;
    // margin: 40px auto ;  
    }
}
.texts{
    color: #FFC107;
    top: 10px;
}




}
.lists{
    display: grid;
    text-align: center;
    grid-template-columns: auto auto;
}
.dash3{
      // justify-content: space-between;
      margin: 10px auto;
      background-image:linear-gradient(rgba(red, .5), rgba(red, .7));
      height: 250px;
    //   width: 140px;
      padding: 60px 0 0 0;
      box-shadow: 0 1rem 2rem rgba($primary-text-color, .5);    width: 90%;
      border-radius: 5px;
      overflow: hidden;
      .rate{
          // background-color: white;
          width: 40%;
          position: relative;
          // padding: 15px 0 0 20px;
      //    text-align: center;
         h2{
             font-size: 1.5rem;
          // margin: 0 0 0 0;  
         }
          // display: flex;
          // flex-direction: row;
          // text-align: center;
          img{
              margin: 15px 0 0 0;
              height: 30px;
              width: 30px;
          }
      }
      .ico{
          // overflow: hidden;
          // text-align: inherit;
          // position: relative;
          padding: 20px 0 0 15px;
          display: flex;
          flex-direction: row;
          text-align: center;
          // padding-top: 30px;
          // background-color: blue;
          width: 50%;
          h2{
              color: black;
              font-size: 1.5rem;
             margin: 5px 5px 0 5px ;
          }
          img{
  
              height: 40px;
              // font-size: 1.2rem;
              width: 45%;
              
              // width: 40px;
          }
      }
      .text{
          text-align: center;
          width: 100%;
          color: white;
          margin: -20px 0 0 0;
          // background-color: wheat;
         img{
          // margin: 10px 0 0 0;
          height:80px ;
          width: 80px;
        //   padding: 5px;
        //   background-color:#2196F3;
          border-radius: 40px;
          box-shadow:0 2rem 3rem rgba($primary-text-color, .5);
              // margin-left: 100px;
          }
          h1{
             
          }
          h2{
              font-size: 1.3em;
            //   margin: 0 0 0 0;
          }
      }
    }
    .head{
        text-align: center;
        color: #FFC107;
    
}
.dash2{
   
    // justify-content: space-between;
    margin: 10px auto;
    background-image: linear-gradient(rgba(orangered, .5), rgba(orangered, .7));
    height: 250px;
    // width: 140px;
    padding: 60px 0 0 0;
    box-shadow: 0 1rem 2rem rgba($primary-text-color, .5);    width: 90%;
    border-radius: 5px;
    overflow: hidden;
    .rate{
        // background-color: white;
        width: 40%;
        position: relative;
        // padding: 15px 0 0 20px;
    //    text-align: center;
       h2{
           font-size: 1.5rem;
        // margin: 0 0 0 0;  
       }
        // display: flex;
        // flex-direction: row;
        // text-align: center;
        img{
            margin: 15px 0 0 0;
            height: 30px;
            width: 30px;
        }
    }
    .ico{
        // overflow: hidden;
        // text-align: inherit;
        // position: relative;
        padding: 20px 0 0 15px;
        display: flex;
        flex-direction: row;
        text-align: center;
        // padding-top: 30px;
        // background-color: blue;
        width: 50%;
        h2{
            color: black;
            font-size: 1.5rem;
           margin: 5px 5px 0 5px ;
        }
        img{

            height: 40px;
            // font-size: 1.2rem;
            width: 45%;
            
            // width: 40px;
        }
    }
    .text{
        text-align: center;
        width: 100%;
        color: white;
        margin: -20px 0 0 0;
        // background-color: wheat;
       img{
        // margin: 10px 0 0 0;
        height:80px ;
        width: 80px;
        // color: none;
        // background-color: #2196F3;
        border-radius: 40px;
        box-shadow:0 2rem 3rem rgba($primary-text-color, .5);
            // margin-left: 100px;
        }
        h1{
           
        }
        h2{
            font-size: 1.3em;
            // margin: 0 0 0 -1px;
        }
    }
  }
  .head{
      text-align: center;
    //   margin: 0 0 0 -10px ;
      color: #FFC107;
  }
  
.list{
    margin-top: 150px;
   
    .card{
         display: flex;
         width: 95vw;
         margin: 0 auto;
         margin-bottom: 15px;
         border: 2px ;
         box-shadow:1px 1px 1px 2px rgba(black,0.5);
        //  box-shadow: 2px 10px 13px rgba(black,0.5);
        //  border-radius: 10px;
         flex-flow: row;
        background-color:whitesmoke;
        height: 100px;
        justify-content: space-between;
        .cardcontent{
            text-align: center;
            // margin: 0 20px 0 20px;
            font-size: 3.2rem;
            .fuel{
                font-size: 3.2rem; 
                // text-shadow: 2px 3px 5px rgba(black,0.8);
                color: rgba(black, 0.5); 
            }
            p{
                font-size: .5em;
                font-weight: bold;
                color: #FFC107;
            }
        }
        .rate{
            position: relative;
            // background-color: green;
            text-align: center;
            height: 100px;
            width: 80px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

            p{
                // position: absolute;
                // color: #FFC107;
                // padding:-15px;
                text-shadow: 2px 2px 5px;

            }
            .icon2{
                // font-size: 1rem;
              
                  height: 40px;
                width: 40px;
                margin: 20px 0 -5px 0;

            }
        }

        .image{
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            text-align: center;
            // background-color: yellow;
            height: 100px;
            width: 80px;
            i{
                color: #f53d3d;
                font-size: 4rem;
                background-color: transparent;
                border: none;
                margin: 30px 0 0 10px;
            }
            .icon1{
                   width: 45px;
                   height: 45px;
                   border-radius: 90px;
                //    box-shadow: 2px 12px 15px black;
                   background-color: transparent;
                //    font-size: 1rem;
                   margin: 30px 0 0 5px;
            }
        }
       
    }
}

.graph{
    // background-image: url()
  
    margin: 10px auto;
    // padding: 10px auto; 
    text-align: center;
    width: 90vw;

    box-shadow: inset 5px 13px 15px rgba(transparent, 0.5);
    border-radius: 20px;
    // background-image: url('../../assets/5214824_05-eng.jpg');
    // height: 100px;
    // padding: -10px 0 -10px 0;
    // width: 100vw;
    img{
        position: relative;
        margin-top: 4px;
        height:12.8rem;
        width: 90vw;
        border-radius: 20px;
    }
}
.combo{
   display: flex;
   flex-flow: row nowrap;
   // background: red;
   // height: 10rem;
   justify-content: space-between;
//    margin-top: 10px;
   img{
       height: 40px;
       width: 40px;
       border-radius: 30px;
       margin:15px 0 0 10px ;
       box-shadow:  0 10px 15px rgba(black, 0.5);
   }
   .logo{
       border-radius: 20px;
       width: 80%;
       margin: 10px auto;
       // background-color: red;
       // margin-bottom: 70px;
       margin-right: 30px;
       .text{
           margin-top: 9px;
           text-align: center;
           color: $accent-color;
           text-shadow: 2px 6px 10px rgba(black, 0.8); 
           font-size: 3.4rem;
        //    font-family: 'Lobster', cursive;

       }
   }
}
}
