page-title {
    ion-content{
        background: #2196F3 !important;
        height: 100vh !important;
        // width: 100%;
        display: flex !important;
        align-content: center !important;
        .image{
            width: 10rem !important;
            height: 10rem !important;
        }
    }
}
