page-add {
    ion-content{
        // height: 95vh !important;
        background: $primary-color !important;
        display: flex !important;
        align-items: center !important;
    }

    button.icon{
        color: white;
        font-size: 2rem;
    }

    .icon{
        background: none !important;
    }

    .addfab{
        position: absolute;
        transform: translateY(-4rem) translateX(9rem);
        border-radius: 50%;
    }

    .contents{

        width:90%;
        margin: 0 auto;
        background: $primary-color-text;
        padding: 2rem;
        border-radius: 2rem;
        box-shadow: 0 1rem 2rem rgba($primary-text-color, .4);
        margin-top: 15vh;
    }
    .imagecontainer{
        width: 15rem;
        // background: red;
        display: block;
        margin: 0 auto;
    }
    .image{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
        box-shadow:  0 1rem 2rem rgba($primary-text-color, .2);
    }
    .imagefile{
        width: 15rem;
        height: 15rem;
        position: absolute;
        top: 11rem;
        z-index: 100;
        opacity: 0;
        // background: red;
    }

    .input{
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 10rem;
        border: 0.2px solid rgba(black, .1);
        background: rgba(rgb(228, 228, 228), .5);
        // width: 100%;
        display: block;
        margin-top: 2.5rem;
        box-shadow: 0 1rem 2rem rgba($primary-text-color, .1);
        &:focus{
           outline: none;  
           box-shadow: 0 1rem 2rem rgba($accent-color, .3);
           border-bottom: .3rem solid $accent-color;
           transition: .2s ease-in-out all;
        }

        &:focus:invalid{
             border-bottom: .3rem solid rgba(red, .6);
             box-shadow: 0 1rem 2rem rgba(red, .3);
        }

        &::-webkit-input-placeholder{
             color: #757575;
        }
        &:last-child{
             margin-bottom: 2rem;
        }
        option{
            color: black;
        }
   }

   ion-select{
       width:100% !important;
       background: pink;
   }

   .submit{
       border-radius: 10rem;
       display: block;
       width: 100%;
       margin: 0 auto;
       margin-top: 2rem;
       box-shadow: 0 1rem 2rem rgba($primary-text-color, .1);
    }

    .fabtn{
        height: 5rem;
        width: 5rem;
        position: absolute;
        transform: translateY(-4.5rem);
        left: 18rem;
        z-index: 0;
    }

    .business{
    //    transform:  translateY(5rem);s
    position: relative;
    top: 2rem;
    left: 1rem;
    color: #757575;
    }
    
}
