page-map {
     .searchcontainer{
          height: 10rem;
          background: $primary-color;
          // border-bottom-right-radius:5rem;
          // border-bottom-left-radius:5rem;
          box-shadow: 0 1rem 2rem rgba($primary-text-color, .5);
          z-index: 5;
          position: fixed;
          width: 100%;
     }
     .combo{
        display: flex;
        flex-flow: row nowrap;
        // background: red;
        // height: 10rem;
        justify-content: space-between;
        margin-top: 10px;
        img{
            height: 50px;
            width: 50px;
            border-radius: 30px;
            margin:15px 0 0 10px ;
            box-shadow:  0 10px 15px rgba(black, 0.5);
        }
        .logo{
            border-radius: 20px;
            width: 80%;text-align: center;
            // background-color: red;
            // margin-bottom: 70px;
            margin-right: 30px;
            .text{
                margin-top: 8px;
                color: $accent-color;
                text-shadow: 0 10px 15px rgba(black, 0.5); 
                font-size: 4.8rem;
                font-family: 'Lobster', cursive;

            }
        }
     }

     .barcontainer{
          display: flex;
          flex-flow: row nowrap;
          // background: red;
          // height: 10rem;
          justify-content: space-between;
          margin-top: -40px;

        //   .item{
        //       border-radius: 12px;
        //   }
     }

     .search{
          width: 47.5%;
          height: 5rem;
          margin: 0;
          background: rgba($primary-color-text, .95);
          box-shadow: 0 1rem 2rem rgba($primary-text-color, .4);
          transform: translateY(7rem);
     }
     .item2{
         margin: 0 0 0 0 auto;
     }

     .item1{
        width: 47.5%;
        height: 5rem;
        margin: 0;
        border-radius: 30px;
        background: rgba($primary-color-text, .95);
        box-shadow: 0 1rem 2rem rgba($primary-text-color, .4);
        transform: translateY(7rem);
        //   box-shadow: 0px 0px 1.5rem rgba(black, .5);
          &:focus:invalid{
               border-bottom: none;
               box-shadow: none;
          }
          &:focus{
               outline: none;  
               box-shadow: 0 1rem 2rem rgba($accent-color, .3) !important;
               border-bottom: .3rem solid $accent-color !important;
               transition: .2s ease-in-out all;
          }

     }

     .item-cover.disable-hover.item-cover-ios.item-cover-default.item-cover-default-ios.activated{
          background: black !important;
     }

     #map{
          height: 100%;
          z-index: 0;
          margin-top: 10rem;
     }

     .infowindow{
          display: flex;
          .imagecontainer{
               display: flex;
               height: 100%;
               img{
                    margin-top: 1rem;
               }
          }

          .textcontainer{
               .headingtext{
                    font-size: 1.4rem;
                    font-weight: bold;
               }
               .infotext{
                    color: pink;
               }
          }
     }
     .cardcontainer{
        // background: red;
        height: 12rem;
        width: 100%;
        position: fixed;
        bottom: 1rem;
        display: flex;
        // left: 50px;
        padding: 0 10px 0 110px;
        flex-direction: row;
        overflow-x: scroll;  
        z-index: 5;  
        // animation: slide .5s ease;
      
        .card{
          flex: 0 0 20rem;
          background: rgba(whitesmoke, .8);
          margin-right: 1rem;
          border-radius: 2rem;
        //   padding: 0 10px 0 10px;
          box-shadow: 2px 4px 15px rgba(black, .5);
          margin-bottom: 1rem;
          margin-top: 1rem;
        }
        .textholder{
            margin-top: 10px;
            text-align: center;
            font-weight: bold;
        }
        .cardiconholder{
            background-color: $primary-color-dark;
            height: 29px;
            margin-top: 9px;
            // position: fixed;
            // width: 110%;
            // margin-bottom: 0px;
            display: flex;

            flex-direction: row;
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            padding: 5px 10px 5px 25px;
            text-align: center;
          }
    }

    body {
     padding: 20px;
     background: #eee;
     user-select: none;
   }
   
   [type=radio] {
     display: none;
   }
   
   #slider {
     height: 35vw;
     position: relative;
     perspective: 1000px;
     transform-style: preserve-3d;
     transform: translateY(-20rem);
   }
   
   #slider label {
     margin: auto;
     width: 60%;
     height: 100%;
     border-radius: 4px;
     position: absolute;
     left: 0; right: 0;
     cursor: pointer;
     transition: transform 0.4s ease;
   }
   
   #s1:checked ~ #slide4, #s2:checked ~ #slide5,
   #s3:checked ~ #slide1, #s4:checked ~ #slide2,
   #s5:checked ~ #slide3 {
     box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
     transform: translate3d(-30%,0,-200px);
   }
   
   #s1:checked ~ #slide5, #s2:checked ~ #slide1,
   #s3:checked ~ #slide2, #s4:checked ~ #slide3,
   #s5:checked ~ #slide4 {
     box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
     transform: translate3d(-15%,0,-100px);
   }
   
   #s1:checked ~ #slide1, #s2:checked ~ #slide2,
   #s3:checked ~ #slide3, #s4:checked ~ #slide4,
   #s5:checked ~ #slide5 {
     box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
     transform: translate3d(0,0,0);
   }
   
   #s1:checked ~ #slide2, #s2:checked ~ #slide3,
   #s3:checked ~ #slide4, #s4:checked ~ #slide5,
   #s5:checked ~ #slide1 {
     box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
     transform: translate3d(15%,0,-100px);
   }
   
   #s1:checked ~ #slide3, #s2:checked ~ #slide4,
   #s3:checked ~ #slide5, #s4:checked ~ #slide1,
   #s5:checked ~ #slide2 {
     box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
     transform: translate3d(30%,0,-200px);
   }
   
   #slide1 { background: #00BCD4 }
   #slide2 { background: #4CAF50 }
   #slide3 { background: #CDDC39 }
   #slide4 { background: #FFC107 }
   #slide5 { background: #FF5722 }

}
