<ion-content class="bg">
  <div class="headercontainer">
    <div class="heading">{{businessName}}</div>
    <ion-fab color="secondary"  (click)="openNav()">
      <button  ion-fab mini class="fab" color="secondary">
        <ion-icon name="navigate"></ion-icon>
      </button>
    </ion-fab>
  </div>
  <div #map id="map"></div>
  <!-- {{businessName}}
  {{businessEmail}}
  {{businessTel}}
  {{businessOwner}}
  {{diesel}}
  {{p93}}
  {{p95}} -->
  <div class="segcontainer">
    <ion-segment color class="md segment segment-md" [(ngModel)]="action">
      <ion-segment-button class="segbtn" value="info">
        DETAILS
      </ion-segment-button>
      <ion-segment-button class="segbtn" value="gallery">
        PRICES
      </ion-segment-button>
    
    </ion-segment>
  </div>

  <div [ngSwitch]="action">
    <div class="productcontainer" *ngSwitchCase="'info'">
      <!-- <p class="heading">Details</p> -->
      <p class="heading">Details</p>
      <hr>
      <ion-list no-lines class="content">
        <!-- <ion-item>
          <ion-icon name="person" item-start></ion-icon>
        
            <p>{{businessOwner}}</p>
        </ion-item>

        <ion-item class="loc">
            <ion-icon name="pin" item-start></ion-icon>
        
            <p> {{streetName2}}</p><p>{{areaName2}} </p>  
       
            <p>{{areaLocation2}}</p> <p>{{postCode2}} </p>
          
        </ion-item>

        <ion-item>
            <ion-icon name="call" item-start></ion-icon>
          <p>{{businessTel}}</p>  
          
        </ion-item>

        <ion-item>
            <ion-icon name="at" item-start></ion-icon>
            <p> {{businessEmail}}</p>
          
        </ion-item> -->
        <div class="more">
            <ion-item>
                <ion-thumbnail class="thumb" item-start>
                  <ion-icon class="ic" name="md-person"></ion-icon>
                </ion-thumbnail>
                <p>Owner's Name</p>
                <h2>{{businessOwner}}</h2>
              </ion-item>
        
        
              <ion-item>
                <ion-thumbnail item-start>
                  <ion-icon class="ic" name="md-pin"></ion-icon>
                </ion-thumbnail>
                <p>Address</p>
                <h2>{{streetName2}} {{areaName2}}, {{areaLocation2}}, {{postCode2}}</h2>
              </ion-item>
        
        
              <ion-item>
                <ion-thumbnail item-start>
                  <ion-icon class="ic" name="md-call"></ion-icon>
                </ion-thumbnail>
                <p>Tel</p>
                <h2>{{businessTel}}</h2>
              </ion-item>

              <ion-item>
                  <ion-thumbnail item-start>
                    <ion-icon class="ic" name="md-at"></ion-icon>
                  </ion-thumbnail>
                  <p>E-mail</p>
                  <h2>{{businessEmail}}</h2>
                </ion-item>
        </div>
      </ion-list>
    
      <div class="block">&nbsp;</div>
    </div>
    <div class="loginContainer" *ngSwitchCase="'gallery'">
        <p class="products">Products</p>
      <hr>
      <div class="fuelcontainer">
        <div class="fuel" *ngIf="gas !> 0">
          <!-- <ion-icon class="gas" name="navigate"></ion-icon> -->
          <i class="mdi mdi-gas-cylinder mdi-24px gas"></i>
          <!-- <i class="fas fa-gas-pump gas"></i> -->
          <p class="label"> Gas </p>
          <p class="text">R{{gas}}/l</p>
        </div>
       
        <div class="fuel" *ngIf="p95 !> 0">
          <!-- <ion-icon class="p95" name="navigate"></ion-icon> -->
          <i class="fas fa-gas-pump p95"></i>
          <p class="label"> Petrol(95) </p>
          <p class="text">R{{p95}}/l</p>
        </div>
        <div class="fuel" *ngIf="p93 !> 0">
          <!-- <ion-icon class="p93" name="navigate"></ion-icon> -->
          <i class="fas fa-gas-pump p93" ></i>
          <p class="label"> Petrol(93) </p>
          <p class="text">R{{p93}}/l</p>
        </div>
        <div class="fuel" *ngIf="diesel !> 0">
          <!-- <ion-icon class="diesel" name="navigate"></ion-icon> -->
          <i class="fas fa-gas-pump diesel"></i>
          <p class="label"> Diesel </p>
          <p class="text">R{{diesel}}/l</p>
        </div>
        <!-- <p class="label"><ion-icon name="navigate"></ion-icon> Petrol(93): <span class="text">{{p93}}</span></p>
          <p class="label"><ion-icon name="navigate"></ion-icon> Petrol(95): <span class="text">{{p95}}</span></p>
          <p class="label"><ion-icon name="navigate"></ion-icon> Diesel: <span class="text">{{diesel}}</span></p> -->
      </div>
      <!-- <div id="cards">
        <img src="https://lh3.googleusercontent.com/B8GXkvZEfgP99C4IRqGjLsdwpfQNyUPMdIJF2-W12ZvFt9Yg4zW05_snxMzsLjgAIoobB0MG3niK8d4A6p6R6Q=s750"
          alt="">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Spaza_shop_in_Joe_Slovo_Park.JPG/1024px-Spaza_shop_in_Joe_Slovo_Park.JPG"
          alt="">
      </div> -->
    </div>
    <div class="loginContainer" *ngSwitchCase="'comment'">

    </div>
  </div>
</ion-content>